.v-list-item__icon.v-list-group__header__append-icon {
    padding: 0px !important;
    margin: 0px !important;
}
.v-list-item__icon.v-list-group__header__append-icon {
    margin-left: -30px !important;
}

.title-user {
    margin-top: 10px;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.v-responsive.v-image.logo-footer {
    margin: auto;
}

.logo-footer-container {
    background: #031E40;
    padding: 5px;
}

.text-white {
    color: white;
}

.text-footer-logo {
    padding: 0px;
    margin-bottom: 0px !important;
}

.user-profile-drawer{
    display: block;
    margin: auto;
    text-align: center;
}

.swal2-modal {
    font-family: Roboto,sans-sherif !important;
}